body {
    background-image: url(Lambroghini-Background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    color: azure;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

input[type=text] {
    padding: .2em;
}

.title-box {
    margin-right: 1.2em;
}

.price-box {
    margin-top: 1%;
    margin-right: 1em;
}

.rating {
    margin-top: 1%;
}

label {
    width: fit-content;
    margin-left: 42%;
    margin-right: 0.5em;
    display: inline-block;
    text-align: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0, 0.8);
}


input[type=checkbox] {
    margin-top: 1%;
    width: 19px;
    height: 17px;
    display: inline-block;
}

input[type=button] {
    height: 30px;
    width: auto;
    margin-top: 1%;
    margin-left: 44.5%;
}

@media screen and (min-width: 750px) and (max-width: 1100px) {
    label {
        width: fit-content;
        margin-left: 38%;
        margin-right: 0.8em;
        display: inline-block;
        text-align: center;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0,0,0, 0.8);
    }
    
    
    input[type=checkbox] {
        margin-top: 3.25%;
        width: 19px;
        height: 17px;
        display: inline-block;
    }
    
    input[type=button] {
        height: 30px;
        width: auto;
        margin-top: 3%;
        margin-left: 42.5%;
    }
}

@media screen and (min-width: 500px) and (max-width: 749px) {
    input[type=text] {
        padding: .1em;
    }

    label {
        width: fit-content;
        margin-left: 30%;
        margin-right: 0.8em;
        display: inline-block;
        text-align: center;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0,0,0, 0.8);
    }
    
    
    input[type=checkbox] {
        margin-top: 4.25%;
        width: 19px;
        height: 17px;
        display: inline-block;
    }
    
    input[type=button] {
        height: 30px;
        width: auto;
        margin-top: 3%;
        margin-left: 42.5%;
    }
}

@media screen and (max-width: 499px) {
    input[type=text] {
        padding: .05em;
    }

    label {
        width: fit-content;
        margin-left: 20%;
        margin-right: 0.8em;
        display: inline-block;
        text-align: center;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0,0,0, 0.8);
    }
    
    
    input[type=checkbox] {
        margin-top: 4.25%;
        width: 19px;
        height: 17px;
        display: inline-block;
    }
    
    input[type=button] {
        height: 30px;
        width: auto;
        margin-top: 3%;
        margin-left: 30.5%;
    }
}